case-studies-area {
        position: relative;
        padding-left: 0;
      }
      .case-studies-area .section-container {
        display: flex;
        justify-content: end;
      }

      .case-studies-area .image-wrapper {
        position: sticky;
        width: 950px;
        height: 674px;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .case-studies-area .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .case-studies-area .content-wrapper {
        max-width: 630px;
        margin-left: 20px;
      }

      .case-studies-area .info-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }
      .case-studies-area .info-card {
        padding: 20px;
        border-radius: 12px;
        background: #16529b;
      }
      .case-studies-area .info-card .heading-h3 {
        margin-bottom: 12px;
      }
      .case-studies-area .info-card .heading-h3,
      .case-studies-area .info-card .body-b1 {
        color: #fff;
      }